div#main {
    width: 830px;
    height: 650px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif
}

div#form_sample {
    text-align: center;
    border: 1px solid #ccc;
    width: 300px;
    padding: 0 50px 15px;
    margin-top: 80px;
    box-shadow: 0 0 15px;
    border-radius: 6px;
    float: left
}

hr {
    margin-top: -5px
}

label {
    float: left;
    font-size: 16px
}

p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    color: cornflowerblue;
}

input[type="email"] {
    width: 100%;
    margin-top: 10px;
    height: 35px;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid rgb(242, 239, 43);
    border-radius: 12px;
}

input[type="submit"] {
    width: 20%;
    padding: 5px 20px;
    background-color: rgb(6, 138, 17);
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif
}

input[type="reset"] {
    width: 40%;
    display: inline-block;
    padding: 5px 40px;
    background-color: rgb(224, 228, 13);
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 1rem;
    font-family: 'Times New Roman', Times, serif
}

div#fugo {
    float: right
}